<h1>Hello, rails, making rspec test</h1>



<form class="form-signin" method="POST" action="http://thetvdb.com/index.php?">
<input type="hidden" name="function" value="Log In">
<input type="hidden" name="submit" value="Log In">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input class="form-control" type="text" required name="username" placeholder="Email address">
  <input class="form-control" type="password" required name="password" placeholder="Password">
  <label class="checkbox"></label>
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit"	value="Log in">Log In</button>
</form>




<p>Find me in app/views/welcome/index.html.erb</p>
